.nameAscBtn {
    color: black !important;
    background-color: cornsilk !important;
    margin-right: 2px !important;
    margin-left: 5px !important;
    border-width: inherit !important;
}

.nameDescBtn {
    color: black !important;
    background-color: cornsilk !important;
    margin-right: 2px !important;
    border-width: inherit !important;
}

.nameAscBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}

.nameDescBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}

.ccsSortBtn {
    color: black !important;
    background-color: cornsilk !important;
    margin-right: 2px !important;
    margin-left: 5px !important;
    border-width: inherit !important;
}

.ccsSortBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}

.choicesSortBtn {
    color: black !important;
    background-color: cornsilk !important;
    margin-right: 2px !important;
    border-width: inherit !important;
}

.choicesSortBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}

.pspSortBtn {
    color: black !important;
    background-color: cornsilk !important;
    margin-right: 2px !important;
    border-width: inherit !important;
}

.pspSortBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}

.allSortBtn {
    color: black !important;
    background-color: cornsilk !important;
    border-width: inherit !important;
}

.allSortBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}

.countyAscBtn {
    color: black !important;
    background-color: cornsilk !important;
    margin-right: 2px !important;
    margin-left: 5px !important;
    border-width: inherit !important;
}

.countyAscBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}

.hideDischargeBtn {
    color: black !important;
    background-color: cornsilk !important;
    margin-right: 2px !important;
    border-width: inherit !important;
}

.hideDischargeBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}

.countyDescBtn {
    color: black !important;
    background-color: cornsilk !important;
    border-width: inherit !important;
}

.countyDescBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}

.showAllBtn {
    color: black !important;
    background-color: cornsilk !important;
    border-width: inherit !important;
}

.showAllBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}

.printAllBtn {
    color: black !important;
    background-color: cornsilk !important;
}

.printAllBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
    text-align: center !important;
}