.addNewBtn {
    color: #f08621 !important;
    background-color: cornsilk !important;
    margin-right: 10px !important;
    margin-top: 20px !important;
    float: right !important;
}

.addNewBtn:hover {
    background-color: #878C36 !important;
    color: white !important;
}

.cancelPartButton {
    background-color: #92BBBF !important;
    color: white !important;
    border-radius: 2.5px;
}

.savePartButton {
    background-color: #878C36 !important;
    color: white !important;
    border-radius: 2.5px;
}