.printLink {
    color: #f08621;
    background-color: cornsilk;
    font-size: large;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 2.5px;
}

.printLink:hover {
    background-color: #878C36 !important;
    color: white;
    text-align: center;
}