.editButtonStyle {
    /* color: #f08621 !important;
    background-color: cornsilk !important; */
    color: cornsilk !important;
    background-color: #f08621 !important;
    border-radius: 2.5px;
}

.editButtonStyle:hover {
    background-color: #878C36 !important;
    color: white;
}