.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color: #f08621;
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #f08621;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #898c36;
}

.nav-right {
  float: right;
}

#logoutBtn {
  line-height: 2;
}

.nav-link1 {
  float: left;
  color: #f2f2f2;
  background-color: #f08621;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.25;
  border-radius: 5px;
  margin: 5px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link1:hover {
  background-color: #878C36;
  text-decoration: none;
}
